:root {
  --font-primary: "Poppins", sans-serif;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
}
